body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.left{
  margin: 3% 0 0 5%;
}
.left-top-box{
  background-image: linear-gradient(to right, blue , fuchsia);
  color: #fff;
  width: 15vw;
  height: 10vh;
  border-radius: 8px;
  padding-top: 2em;
  padding-left: 1em;
}
.left-box, .left-box-1{
  width: 13.5vw;
  height: 22vh;
  border-radius: 7px;
  background-color: #fff;
  margin-top: 1%;
  flex-wrap: wrap;
  padding: 1em;
}
.left-box{
  display: flex;
  flex-direction: column;
}
.left-box-top, .left-box-middle{
  display: flex;
}
.left-box-top p, .left-box-middle p{
  padding: .5em;
}
span{
  background: lightblue;
  color:blue;
  padding: .3em;
  border-radius: 5px;
  width: 100%;
}
.top, .info{
  display: flex;
  justify-content: space-between;
}
.right{
  margin: -35% 0 0 18%;
}
.right-top{
  display: flex;
  background-color: navy;
  border-radius: 5px;
  color: #fff;
  justify-content: space-between;
  padding: 1em;
  width: 80%;
}
.right-top-left, .suggestions, .sort{
  display: flex;
  padding: .3em;
}
.feedback{
  background-color: purple;
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 10vw;
  height: 5vh;
  margin-top: 1%;
}
.box{
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  height: 12vh;
  padding: 1em;
  margin-top: 1%;
}
.number-box{
  background: #eee;
  height: 5vh;
  padding: .8em;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 2%;
}
.middle{
  text-align: start;
  margin-left: 5%;
  width: 100%;
}
.dot{
  color: #ccc;
  height: 1.5vh;
  padding-top: 1em;
  margin-left: -15%;
  margin-top: 0.3%;
}
.state{
  display: flex;
}
.pink{
  color: pink;
  height: 1vh;
  margin-top: 25%;
}
.purple{
  color: purple;
  height: 1vh;
  margin-top: 22%;
}
.aqua{
  color: aqua;
  height: 1vh;
  margin-top: 38%;
}
.circle{
  height: 1.5vh;
  padding: .5em;
  margin-top: 8%;
}
.cog{
  padding: 1em;
  height: 3vh;
  color: #ccc;
}
.sort p{
  padding-left: .3em;
}
@media(min-width: 320px) and (max-width: 767px) {
  .left-top-box{
    width: 80%;
  }
  .left-box, .left-box-1{
    width: 80%;
    margin-top: 3%;
  }
  .right{
    margin: 10% 0 0 -2.5%;
  }
  .right-top{
    width: 93%;
  }
  .right-top-left{
    margin-left: -3%;
  }
  .suggestions{
    margin-left: -4%;
  }
  .feedback{
    width: 19vw;
    height: 10vh;
  }
  .box{
    width: 93%;
    height: 15vh;
    margin-top: 3%;
  }
}

@media(min-width: 768px) and (max-width: 1024px) {
  .left-top-box, .left-box, .left-box-1{
    width: 20vw;
  }
  .right{
    margin: -87.5% 0 0 27%;
  }
}